<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>

    <link rel="stylesheet" href="/styles/post.css" />

    <script src="/scripts/bulma.js" defer></script>
    <script src="/scripts/main.js" defer></script>

    <% if(typeof page !=='undefined' ) { %>
        <title>Recipe Blog - <%= page %>
        </title>
        <% } else { %>
            <title>Recipe Blog</title>
            <% } %>
</head>

<%- include ('./partials/nav.ejs') %>

    <body class="form">
        <h1>Fill out the fields to update this recipe</h1>
        <div class="formContainer">

            <form class="newRecipe" action="/recipeblog/<%= foundRecipe.title %>?_method=PUT" method="POST">
                <fieldset>
                    <legend></legend>
                    <div class="inputs">
                        <label class="label" for="text">Title</label>
                        <input name="title" type="text" id="text" value="<%= foundRecipe.title %>">
                    </div>
                    <input name="image" type="image" id="formImage" alt="Login" src="<%= foundRecipe.image %>">
                    <div class="inputs">
                        <label class="label" for="text">Image</label>
                        <input name="image" type="text" id="text" value="<%= foundRecipe.image %>">
                    </div>
                    <div class="inputs">
                        <label class="label" for="text">Description</label>
                        <input name="description" type="text" id="text" value="<%= foundRecipe.description %>">
                    </div>
                    <div class="inputs">
                        <label class="label" for="text">Author</label>
                        <input name="user" type="text" id="text" value="<%= foundRecipe.user%>">
                    </div>
                    <div class="inputs">
                        <label class="label" for="text">Ingredients</label>
                        <input name="ingredients" type="text" id="formIngredients" value="
                    <% for(let idx=0; idx < foundRecipe.ingredients.length; idx++){ %>

                    <%= foundRecipe.ingredients[idx]%>
                            <%}%> ">
                    </div>




                    <div class="inputs">
                        <label class="label" for="text">Preperation</label>
                        <textarea name="recipe" type="text" id="prep" placeholder="Heat the oven to 425 degrees"
                            id="textarea-1"></textarea>

                    </div>
                    <div class="inputs">
                        <label class="label" for="text">Category</label>
                        <input name="category" type="text" id="text" value="<%= foundRecipe.category%>">
                    </div>
                    <button type="submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </body>

</html>