<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs', {page: 'Recipe Blog'}) %>

    <%- include ('./partials/nav.ejs') %>

<body>
    <body class="has-navbar-fixed-top">
        <section class="hero is-small has-background-light">
            <div class="hero-body">
                <p class="title">Recipe Blog</p>
            </div>
        </section>
        <main class="container is-max-widescreen">
            <div class="columns is-multiline p-5">
                <% for(let idx = 0; idx < recipes.length; idx++){ %>

                   
            <div class="column is-three-quarters">

                <article class="card">
                    <section class="card-image">
                        <figure class="image is-3by3">                   
                        </figure>
            </div>
            </section>
                            <div class="card-content">
                                <div class="content is-inline-block">
                                   
                                    <div class="home-images">
                                    <img src="<%= recipes[idx].image %>"/></div>
                                    
                                    <div class="recipe-description">
                                        <%= recipes[idx].description %></div>
                                    <div class=recipe-title>
                                        <h2><%= recipes[idx].title %></h2></div>
                                    <div class="recipe-ingredients">
                                        <%= recipes[idx].ingredients %></div>
                                </div>
                            </div>
                        </article>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
    
</body>
</html>                                                                                     