<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs', {page: 'Recipe Blog'}) %>

    <%- include ('./partials/nav.ejs') %>

<body>
    <div>
        
        <h1>The Open Source Kitchen</h1>
    </div>    
        <main class="container is-max-widescreen">
            <div class="columns">
                <% for(let idx = 0; idx < recipes.length; idx++){ %>

                   
            <div class="column is-four-quarters">

                <article class="card">
                    <section class="card-image">
                        <figure class="image is-3by3">                   
                        </figure>
            </div>
            </section>
                            <div class="card-content">
                                <div class="content is-inline-block">
                                   
                                    <div class="home-images">
                                    <img src="<%= recipes[idx].image %>"/>
                                    </div>
                                    
                                    <div class="recipe-description">
                                        <%= recipes[idx].description %>
                                    </div>
                                     
                                <a href="/recipeblog/<%= recipes[idx].title %>">
                                    <div class=recipe-title>
                                        <h2><%= recipes[idx].title %></h2>
                                    </div>
                                </a>
                                    <div class="recipe-ingredients">
                                        <%= recipes[idx].ingredients %>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                <% } %>
            </div>
                
                
        </main>
    </body>

</body>
</html>                   