<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs', {page: 'Recipe Blog'}) %>

    <%- include ('./partials/nav.ejs') %>

<body>

<h1 class="title"><%= recipes.title %></h1>
<img class ="image" src="<%= recipes.image %>"/>
<div class="container">
    <div class="recipe" id="ingredients">
       <h3 class="title">Ingredients:</h3>
       <p><%= recipes.ingredients%></p>
    </div>
    <div class="recipe" id="prep">
        <h3 class="title">Preperation:</h3>
        <p><%= recipes.recipe %></p>
    </div>  
</div>
<div class="reviewContainer">
    <div class="reviews"> 
        ~~~~some reviews~~~~ 
    </div>
</div>

</body>
</html>