<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poiret+One&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        </style>

    <link rel="stylesheet" href="../styles/recipe.css" />

    <script src="/scripts/bulma.js" defer></script>
    <script src="/scripts/main.js" defer></script>

    <% if(typeof page !=='undefined' ) { %>
        <title>Recipe Blog - <%= page %>
        </title>
        <% } else { %>
            <title>Recipe Blog</title>
            <% } %>
</head>

<%- include ('./partials/nav.ejs') %>

    <body>

        <h1 class="title" id="title">
            <%= foundRecipe.title %>
        </h1>
        <img class="image" src="<%= foundRecipe.image %>" />
        <span class="user">Created By <%= foundRecipe.user %></span>
        <div class="description"><%= foundRecipe.description %></div>
        <div class="container">
            <div class="recipe" id="ingredients">
                <h3 class="title">Ingredients:</h3>
                <ul id="ingredientsList">
                    <% for(let idx=0; idx < foundRecipe.ingredients.length; idx++){ %>
                        <li>
                            <%= foundRecipe.ingredients[idx]%>
                        </li>
                        <%}%>

                </ul>

            </div>
            <div class="recipe" id="prep">
                <h3 class="title">Preperation:</h3>
                <ul id="prepList">
                    <% for(let idx=0; idx < foundRecipe.recipe.length; idx++){ %>
                        <li id="steps">
                            <%= foundRecipe.recipe[idx]%>
                        </li>
                        <%}%>
                </ul>
            </div>
        </div>
        <div class="reviewContainer">
            <div class="reviews">
                ~~~~some reviews~~~~
            </div>
        </div>

    </body>

</html>